<div class="row text-left">
    <h3>Щоб використати FileBrowser відкрийте через браузер файл <strong>Index.html</strong> в папці <strong>WebClient</strong>
    </h3>
    <h4>Клієнтська частина відділена від серверної.</h4>
</div>

